<%= simple_form_for @medicine, local: true, input_html:{ class: "form top-space"} do |form| %>
    <div class="contenedor-inputs top-space">
      <div class="field medium ">
        <div class=""><%= form.input :name, id: :medicine_name, input_html:{class: 'input-medicine'} %></div>
      </div>

      <div class="field medium">
        <%= form.label :stock %>
        <div class=""> <%= form.input_field :stock, id: :medicine_stock, min: 0, class: 'input-medicine form-control' %></div>
      </div>

      <div class="field medium">
        <div class=""><%= form.input :description, id: :medicine_description, input_html:{class: 'text-medicine'} %></div>
      </div>

      <div class="field medium">
        <div class=""> <%= form.input :dosis, id: :medicine_dosis, input_html:{class: 'text-medicine'} %></div>
      </div>

      <div class="field medium">
        <div class=""> <%= form.input :observations, id: :medicine_observations, input_html:{class: 'text-medicine'} %></div>
      </div>
      <div class="form-actions btn-medicine" style="width: 100%;">
        <%= form.button :submit %>
        <%= link_to 'Back', medicines_path, class: 'btn' %>

      </div>
    </div>

    
<% end %>
