<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 5%;">Editing Medicine</h1>

<%= render 'form', medicine: @medicine %>
<div class="form medium">
	<%= link_to 'Show', @medicine, class: 'btn btn-info',style: "margin-left:15px;margin-top:5px;" %> 
	<!--<%= link_to 'Back', medicines_path %>-->
</div>