<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 2%;">Medicines</h1>
<div style=" margin: auto; margin-bottom: 10px;" class="medium"><%= link_to 'New Medicine', new_medicine_path, class: "btn" %></div>
<div style="overflow-x: auto; ">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dosis</th>
      <th>Observations</th>
      <th>Stock</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.description %></td>
        <td><%= medicine.dosis %></td>
        <td><%= medicine.observations %></td>
        <td><%= medicine.stock %></td>
        <td><%= link_to 'Show', medicine %></td>
        <td><%= link_to 'Edit', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


