<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 3%;">New Medicine</h1>

<%= render 'form', medicine: @medicine %>

<!-- <div class="form contenedor-inputs" style="background-color: #eee"><%= link_to 'Back', medicines_path %></div> -->
