
<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 5%;">Information</h1>
<div class="top-space">
  <div class="row middle-xs center-xs full-height no-margin top-space">
    <%= grid class:"row center-xs" do %>
      <div class="big-padding white contenedor-info">
        <p class="medium">
          <i class="fas fa-asterisk"></i>
          <strong>Name:</strong>
          <%= @medicine.name %>
        </p>

        <p class="medium">
          <i class="fas fa-asterisk"></i>
          <strong>Description:</strong>
          <%= @medicine.description %>
        </p>

        <p class="medium">
          <i class="fas fa-asterisk"></i>
          <strong>Dosis:</strong>
          <%= @medicine.dosis %>
        </p>

        <p class="medium">
          <i class="fas fa-asterisk"></i>
          <strong>Observations:</strong>
          <%= @medicine.observations %>
        </p>

        <p class="medium">
          <i class="fas fa-asterisk"></i>
          <strong>Stock:</strong>
          <%= @medicine.stock %>
        </p>
        <%= link_to 'Edit', edit_medicine_path(@medicine) %> |
        <%= link_to 'Back', medicines_path %>
      </div>
    <% end %>
  </div>
</div>



