<h2 class="form-registration">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"form-registration"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="contenedor-inputs">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :email, class: "mdl-textfield__label black-text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mdl-textfield__input white" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password, class: "mdl-textfield__label black-text" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input white" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password_confirmation, class: "mdl-textfield__label black-text" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "mdl-textfield__input white" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :name, class: "mdl-textfield__label black-text" %><br />
      <%= f.text_field :name, autocomplete: "name", class: "mdl-textfield__input white" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :last_name, class: "mdl-textfield__label black-text" %><br />
      <%= f.text_field :last_name, autocomplete: "last_name", class: "mdl-textfield__input white" %>
    </div>
    <div class="genre-radio">
      <%= f.label :genre, class: "mdl-radio__label text-left" %>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="user_genre_m">
        <!--<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="M" checked>-->
        <%= f.radio_button :genre, "M",checked: true, class: "mdl-radio__button" %>
        <span class="mdl-radio__label">M</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="user_genre_f">
        <!--<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="F">-->
        <%= f.radio_button :genre, "F", class: "mdl-radio__button" %>
        <span class="mdl-radio__label">F</span>
      </label>
    </div>
    <div class="contenedor-select mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
      <%= f.label :birthday, class: "mdl-selectfield__label black-text" %><br />
      <%= f.date_select :birthday,{:start_year => 1920, :end_year => Date.current.year},{ :class => "birthday-select mdl-selectfield__select white"} %>
    </div>
    <div class="actions btn-register">
      <%= f.submit "Sign up" %>
    </div>
    <div class="form-registration medium" style="margin-top: 3px;"> <%= render "devise/shared/links" %></div>
  </div>
    
<% end %>
<!--<% content_for #:js do %>-->
<!-- <script type="text/javascript" >
  $(document).ready(function(){
    $(".datetimepicker").datetimepicker({
      locale: 'en',
      format: 'DD/MM/YYYY',
      minDate: moment(),
      icons: {
        time: "ti-timer",
        date: "ti-calendar",
        up: "ti-angle-up",
        down: "ti-angle-down",
        previous: "ti-angle-left",
        next: "ti-angle-right",
        today: "ti-location-pin",
        clear: "ti-trash",
        close: "ti-close"
      }
    });
  });
</script> -->
<!--<% #end %>-->