<%= simple_form_for @diagnosis, local: true, input_html:{class: "form-diagnosis"} do |form| %>
  <div class="top-space contenedor-diagnosis">
    <div class="field medium">
      <div><%= form.input :description, id: :diagnosis_description, input_html:{class: "text-diagnosis"} %></div>
    </div>
    <div class="field medium">
      <%= form.label :medicine %>
      <div><%= select_tag "medicines[]", options_from_collection_for_select(@medicines,"id","name"), class: "js-example-basic-multiple form-control input-diagnosis ", multiple: "" %>
      </div>
    </div>
    <div class="form-actions btn-diagnosis">
      <%= form.button :submit %>
      <%= link_to 'Back', diagnoses_path,class: "btn" %>
    </div>
  </div>
  
<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function() {

    $('.js-example-basic-multiple').select2({
      width: 'resolve',
      placeholder: "Select one or more medicines"
    });
  });
</script>
<% end %>
<% end %>

