<h1 class="contenedor-inputs" style="margin-top: 0%;margin-bottom: 5%;">Editing Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>
<div class=" medium" >
	<%= link_to 'Show', @diagnosis,class: "btn btn-info",style: "margin-left: 25px;margin-top: 5px;" %> 
</div>