<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 2%%;">Diagnoses</h1>
<div style=" margin: auto; margin-bottom: 10px;" class="medium"><%= link_to 'New Diagnosis', new_diagnosis_path,class: "btn" %></div>
<table style="">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.description %></td>
        <td><%= link_to 'Show', diagnosis %></td>
        <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
        <td><%= link_to 'Destroy', diagnosis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


