<h1 class="contenedor-inputs" style="margin-top: 0%; margin-bottom: 7%;" >New Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>

<!--<div class="form-diagnosis contenedor-inputs" style="background-color: #eee;"> <%= link_to 'Back', diagnoses_path %>-->
