<h1 class="contenedor-inputs" style="margin-top: 0%;margin-bottom: 5%;"> Information </h1>
<div class="top-space">
  <div class="row middle-xs center-xs full-height no-margin top-space">
    <%= grid class:"row center-xs" do %>
      <div class="big-padding white contenedor-info">
				<p class="medium">
				  <strong>Description:</strong>
				  <%= @diagnosis.description %>
				</p>
				<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
				<%= link_to 'Back', diagnoses_path %>
			</div>
		<%end%>
		
	</div>
</div>


