<%= form_with(model: @medic_consultation, local: true, class: "form-diagnosis") do |f| %>
  <div class="contenedor-consult">
    <div class="field medium">
      <label>DNI</label>
      <div style="width: 100%;"><%= number_field_tag :dni, params[:dni], in:0..100000000,class: "form-control" %></div>
    </div>
    <div class="field medium">
      <label>Diagnoses</label>
      <%= select_tag "diagnoses[]", options_from_collection_for_select(@diagnoses,"id","description"), class: "js-example-basic-multiple form-control input-diagnosis ",id: 'select1', multiple: "", presence: true %>
    </div>
    
    <div class="form-actions btn-consult">
      <%= f.submit 'Save',class: "btn" %>
      <%= link_to 'Back', medic_consultations_path, class: 'btn' %>
    </div>
  </div>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function() {

    $('.js-example-basic-multiple').select2({
      width: 'resolve',
      placeholder: "Select one or more diagnoses"
    });
  });

</script>
<% end %>
<% end %>