<%= form_with(model: @medic_consultation) do |form| %>
	<h2>Medicines</h2>
	<div class="field">
    <%= f.label :medicine %>
    <% @medicines.each do |medicine| %>
    	<div><%= check_box_tag "medicines[]", medicine.id %><%= medicine.name %></div>
    <% end %>
  </div>
  <div class="actions">
  	<%= f.submit 'Accept' %>
  </div>
<% end %>