%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:10%;"} Editing medic consultation

= render 'form'
%div.form-diagnosis.medium.top-space
	= link_to 'Show', @medic_consultation,class: "btn btn-info",style: "margin-top: 5px;margin-left:25px;"
