%h1.contenedor-inputs{style:"margin-top: 0%; margin-bottom: 2%;"} Medic consultations
%div.btn.medium{style:"margin-bottom:20px;"}= link_to 'New Medic consultation', new_medic_consultation_path
%table{style:""}
  %thead
    %tr{style:"text-align:center;"}
      %th Patient's DNI
      / %th Diagnosis
      / %th Medicine
      %th Doctor
      %th
      %th
      %th

  %tbody
    - @medic_consultations.each do |medic_consultation|
      %tr{style:"text-align: center;"}
        %td= medic_consultation.dni
        / %td= medic_consultation.diagnosis
        / %td= medic_consultation.medicine
        %td= medic_consultation.user.name
        %td= link_to 'Show', medic_consultation
        %td= link_to 'Edit', edit_medic_consultation_path(medic_consultation)
        %td= link_to 'Destroy', medic_consultation, method: :delete, data: { confirm: 'Are you sure?' }
