%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:10%;"} New medic consultation

= render 'form'

//%div.contenedor-inputs.form-diagnosis{style:"background-color:#eee;"}= link_to 'Back', medic_consultations_path
