%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:5%;"} Information
.top-space
  .row.middle-xs.center-xs.full-height.no-margin.top-space
    =grid class:"row center-xs" do
      
      .big-padding.white.contenedor-info{style:""}
        %p.medium
          %b DNI:
          = @medic_consultation.dni
        %p.medium
          %b Diagnoses:
          - @medic_consultation.diagnoses.each do |diagnosis|
            %p.medium
              = diagnosis.description
        / %p
        /   %b Medicine id:
        /   - @diagnosis_medicines.each do |medicine|
        /     %p
        /       = medicine.medicine_id
        %p.medium
          %b Medicines available:
          - @medicines.each do |medicine|
            %p.medium
              = medicine.name
        %p.medium
          %b Doctor:
          = @medic_consultation.user.name
          = @medic_consultation.user.last_name

        = link_to 'Edit', edit_medic_consultation_path(@medic_consultation)
        \|
        = link_to 'Back', medic_consultations_path
