<%= form_with(model: @consultation,local:true, class: "form-reservation",remote: true) do |f| %>
  <% if @consultation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@consultation.errors.count, "error")} prohibited this consultation from being saved:" %>
      </h2>
      <ul>
        <% @consultation.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contenedor-reservations">
    <div class="field medium">
      <%= f.label :patient_dni %>
      <div>
        <%= number_field_tag :patient_dni, params[:patient_dni], in:100000..100000000, style:"width:90%;" %>
      </div>
    </div>
    <div class="field medium">
      <%= f.label :consult_code %>
      <div>
        <%= f.number_field :consult_code, in:100..100000,style:"width:90%" %>
      </div>
    </div>
    <div>
      <%= f.text_field :date_range, input_html: { class: "form-control input-sm date-range-picker"} %>
      <%= f.text_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
      <%= f.text_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    </div>
    <div class="actions btn-consult">
      <%= f.submit 'Save' %>
      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?'}, remote: true unless @consultation.new_record? %>
    </div>
  </div>
<% end %>
