%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:2%;"} Listing consultations
%div.medium{style:"width:95%;margin:auto;margin-bottom:20px;"}= link_to 'New Consultation', new_consultation_path
%table
  %thead
    %tr
      %th Patient DNI
      %th Consult code
      %th Doctor
      %th
      %th
      %th

  %tbody
    - @consultations.each do |consultation|
      %tr{style:"text-align:center;"}
        %td= consultation.patient_dni
        %td= consultation.consult_code
        %td= consultation.user.name
        %td= link_to 'Show', consultation
        %td= link_to 'Edit', edit_consultation_path(consultation), remote: true
        %td= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' }
