%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:5%;"} Information
.top-space
	.row.middle-xs.center-xs.full-height.no-margin.top-space
		=grid class:"row center-xs" do
      
			.big-padding.white.contenedor-info{style:""}
				%p.medium
					%b Patient dni:
					= @consultation.patient_dni
				%p.medium
					%b Consult code:
					= @consultation.consult_code
				%p.medium
					%b Doctor:
					= @consultation.user.name
					= @consultation.user.last_name

				= link_to 'Edit', edit_consultation_path(@consultation)
				\|
				= link_to 'Back', consultations_path
