$('.calendar').fullCalendar('removeConsultations', [<%= @consultation.id %>]);
$('.calendar').fullCalendar(
	'renderConsultation',
	$.parseJSON("<%=j render(@consultation,format: :json).html_safe %>"),
	true
);
$('.modal').modal('hide');