<header class='mdl-layout__header'>
  <div class='mdl-layout__header-row'>
    <div class='mdl-layout-spacer'></div>
    <div class='mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right'>
        <% if user_signed_in? %>
          <%= link_to "Cerrar sesión", destroy_user_session_path,method: :delete, class: "margin-left medium" %>
        <% end %>
      <label class='mdl-button mdl-js-button mdl-button--icon' for="fixed-header-drawer-exp">
        <i class='material-icons'>search</i>
      </label>
      <div class='mdl-textfield__expandable-holder'>
        <input class='mdl-textfield__input' type="text" name="sample" id="fixed-header-drawer-exp">
      </div>
    </div>
  </div>
</header>
<div class='mdl-layout__drawer'>
  <span class='mdl-layout-title'><%= link_to "HospitalApp", root_path,style:"text-decoration:none;" %></span>
  <% if user_signed_in? %>
    <label class="current_user">
      <i class="far fa-envelope" style="margin-right: 2px;"></i>
      <%=current_user.email%>
    </label>
  <% end %>
  <nav class='mdl-navigation'>

    <div class='mdl-navigation__link link'>
      <i class="fas fa-clipboard-list" style="margin-left: -15px;"></i>
      <%=link_to "Medic Consultations", medic_consultations_path, style:"text-decoration:none; margin-left:5px;" %>
      </div>
    <div class='mdl-navigation__link link'>
      <i class="fas fa-eye-dropper" style="margin-left: -15px;"></i>
      <%=link_to "Medicines", medicines_path, style:"text-decoration:none; margin-left:5px;" %>
    </div>
    <div class='mdl-navigation__link link'>
      <i class="fas fa-first-aid" style="margin-left: -15px;"></i>
      <%=link_to "Diagnoses", diagnoses_path, style:"text-decoration:none; margin-left:5px;" %>
    </div>
    <div class='mdl-navigation__link link'>
      <i class="fas fa-wheelchair" style="margin-left: -15px;"></i>
      <%=link_to "Patients", patients_path, style:"text-decoration:none; margin-left:5px;" %>
    </div>
  </nav>
</div>