.main-background.full-height{style:"margin-top:-13%;"}
	.top-space
		.row.middle-xs.center-xs.full-height.no-margin.top-space.center.fix-r
			=grid class:"row center-xs" do
				.big-padding.white{style:"margin-top:20%;"}
					%h1.bold.orange-text Hospital App
					%h5.border-bottom.padding-bottom Administración de medicinas, pacientes y diagnósticos
					%h5 Ya tengo una cuenta
					=link_to "Conectar", new_user_session_path, class:"btn top-space"