<%= simple_form_for @patient do |f| %>
  <div class="big-padding contenedor-patients text-left">
    <div class="field medium ">
      <%= f.label :dni %>
      <%= f.input_field :dni, class: "form-control ", in: 100000..100000000 %>
    </div>
    <div class="field medium">
      <%= f.label :name %>
      <%= f.input_field :name, class: "form-control", in: 1..20 %>
    </div>
    <div class="field medium ">
      <%= f.label :last_name %>
      <div>
        <%= f.input_field :last_name, class: "form-control", in: 1..20 %>
      </div>
    </div>
    <div class="contenedor-radio medium text-left">
      <%= f.label :sex %>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
        <%= f.radio_button :sex, 'M', class:"mdl-radio__button" ,id:"option-1",value:"1", checked: true %>
        <span class="mdl-radio__label">M</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
        <%= f.radio_button :sex, 'F', class:"mdl-radio__button", id:"option-2", value:"2" %>
        <span class="mdl-radio__label">F</span>
      </label>
    </div>
    <div class="field medium">
      <%= f.input :birthday, as: :date, start_year: Date.today.year-100, end_year: Date.today.year-20%>
    </div>
    <div class="field medium ">
      <%= f.label :age %>
      <%= f.number_field :age, class: "form-control", in: 1..120 %>
      
    </div>
    <div class="form-actions btn-patiens" style="margin-top: 10px;">
      <%= f.button :submit %>
      <%= link_to 'Back', patients_path, class: "btn" %>
    </div>
  </div>
<% end %>
