%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:5%;"} Editing patient

= render 'form'
%div.medium{style:"margin:auto;"}
	= link_to 'Show', @patient,class: "btn btn-info", style: "margin-top:5px; margin-left: 25px;"
