%h1.contenedor-inputs{ style:"margin-top: 0%; margin-bottom: 2%;"} Patients
%div.medium{style:"margin:auto;margin-bottom:10px;"}= link_to 'New Patient', new_patient_path, class: "btn"
%table
  %thead
    %tr
      %th DNI
      %th Name
      %th Last name
      %th Gender
      %th Birthday
      %th Age
      %th
      %th
      %th

  %tbody
    - @patients.each do |patient|
      %tr{style:"text-align:center;"}
        %td= patient.dni
        %td= patient.name
        %td= patient.last_name
        %td= patient.sex
        %td= patient.birthday
        %td= patient.age
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }

%br


