%h1.contenedor-inputs{style:"margin-top:0%; margin-bottom:5%;"} New patient

= render 'form'

//.contenedor-inputs.form-diagnosis{style:"background-color:white;width:30%;"}= link_to 'Back', patients_path
