%h1.contenedor-inputs{style:"margin-top:0%;margin-bottom:5%;"} Information
.top-space
  .row.middle-xs.center-xs.full-height.no-margin.top-space
    =grid class:"row center-xs" do
      .big-padding.white.contenedor-info{style:""}
        %p.medium
          %b DNI:
          = @patient.dni
        %p.medium
          %b Name:
          = @patient.name
        %p.medium
          %b Last name:
          = @patient.last_name
        %p.medium
          %b Sex:
          = @patient.sex
        %p.medium
          %b Birthday:
          = @patient.birthday
        %p.medium
          %b Age:
          = @patient.age

        = link_to 'Edit', edit_patient_path(@patient)
        \|
        = link_to 'Back', patients_path
