<h2 class="form-login">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"form-login"}) do |f| %>
  <div class="contenedor-inputs">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :email, class: "mdl-textfield__label black-text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mdl-textfield__input" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password, class: "mdl-textfield__label black-text" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="mdl-checkbox mdl-js-ripple-effect">
        <%= f.check_box :remember_me, class: "mdl-checkbox__input", checked: true, checked_value: "1", unchecked_value: "0" %>
        <%= f.label :remember_me, class:"mdl-checkbox__label" %>
      </div>
    <% end -%>

    <div class="actions btn-login">
      <%= f.submit "Log in" %>
    </div>
    <div style="margin: 3px 0px; width: 100%;"> <%= render "devise/shared/links" %></div>
  </div>
<% end %>


