$colors : (
	red: #FC4349,
	pink: #E4004F,
	blue: #2C3E50,
	grey: #D7DADB,
	dark-grey: #666,
	light-blue: #6DBCDB,
	white: #fff,
	indigo: #2F33AC,
	black: #000,
	teal: rgb(0,150,136),
	orange: rgb(255,152,0)
);
@each $color_name,$color in $colors{
	.#{$color-name}{
		background-color: $color;
	}
	.#{$color-name}-text{
		color: $color;
	}
}