html,body{
	height:100%;
	margin:0px;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.full-height{
	height:100%;
}
.no-margin{
	margin: 0;
}
.margin-right{
	margin-right: 5px;
}
.right-space{
	margin-right: 1.5em;
}
.margin-left{
	margin-left: 5px;
}
.medium{
	font-size: 1.2em;
}
.large-padding{
	padding:10px 15px;
}
.big-padding{
	padding:2em 1.5em;
}
.padding-bottom{
	padding-bottom: 1em;
}
.border-bottom{
	border-bottom: 1px solid currentcolor;
}
.full-width{
	width: 100%;
}
.remove-bullet-points{
	list-style-type: none;
	margin: 0;
}
.top-space{
	margin-top:1em;
}
.underline{
	text-decoration: underline;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.circle{
	border-radius: 50%;
}
.border-radio{
	border-radius: 20px;
}
.center{
	margin-top: 30%;
}
.fix-down{
	margin-bottom: 50%;
}
.fix-r{
	margin-top: 10%;
	margin-bottom: 30%;
}
.btn{
	text-decoration: none;
	padding:5px 16px;
	background-color: rgb(0,150,136);
	color: #fff;
	position: relative;
	height: 40px;
	width: 200px;
	border:none;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 25px;
}
.input-medicine{
	width: 48%;
	min-width: 620px;
	margin-top: 10px; 
}
.input-diagnosis{
	width: 100%;
	margin-top: 20px !important;
	padding: 15px;
	border: 2px solid rgb(255,152,0) !important;
	font-size: 20px;
	box-shadow: 5px 10px 8px #888888 !important;
}
.js-example-basic-multiple{
	width: 100%;
	margin-top: 20px;
}
.text-medicine{
	width: 48%;
	min-width: 620px;
	height: 100px;
	margin-top: 10px;
	min-height: 100px;
	
}
.text-diagnosis{
	width: 95%;
	margin: auto;
	height: 100px;
	min-height: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.form{
	width: 90%;
	margin: auto;
}
.form-diagnosis{ 
	width: 50%;
	margin: auto;
}
.form-registration{
	width: 35%;
	margin: auto;
	margin-top: 3%;
}
.form-login{
	width: 30%;
	margin: auto;
	margin-top: 3%;
}
.form-reservation{
	width: 30%;
	margin: auto;
}
.contenedor-inputs{
	padding: 15px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 20px;
	background-color: #ddd;
	border-radius: 5px;
}
.contenedor-diagnosis{
	padding: 20px 25px;
	font-size: 20px;
	background-color: #ddd;
	border-radius: 4px;

}
.contenedor-patients{
	border-left: 5px solid rgb(255,152,0);
	background-color: rgba(221,221,221,0.6);
}
.contenedor-reservations{
	width: 100%;
	background-color: #ddd;
	margin: auto;
	padding: 20px 25px;
	border-radius: 4px;
}
.contenedor-info{
	font-size: 18px !important;
	width: 100%;
	border-radius: 5px;
	border-left: 5px solid orange;
	text-align: left;
}
.contenedor-consult{
	background-color: #ddd;
	padding: 20px 25px;
	border-radius: 5px;
}
.btn-medicine{
	margin: auto;
	margin-left: 10px;
}
.btn-diagnosis{
	margin-top: 20px;
}
.btn-diagnosis input, .btn-patiens input{
	box-shadow: none;
	background-color: rgb(255,152,0);
}
.btn-medicine input{
	box-shadow: none;
	background-color: rgb(255,152,0);
	clear: both;
}
.btn-register{
	width: 100%;
	margin: auto;
	position: relative;
	margin-top: 20px;
}
.btn-register input{
	background-color: rgb(255,152,0);
}
.btn-login{
	margin-top: 20px;
}
.btn-login input{
	background-color: rgb(255,152,0);
}
.btn-consult{
	margin-top: 20px;
}
.btn-consult input{
	background-color: rgb(255,152,0);
}
.patient-input{
	padding: 15px;
	box-shadow: none;
	font-size: 20px;
	color: black;
}
// input, textarea{
// 	margin-bottom: 15px;
// 	padding: 15px;
// 	border-radius: 5px;
// 	border: 2px solid rgb(255, 152, 0);
// 	font-size: 20px;
// 	// box-shadow: 5px 10px 8px #888888;
// 	background-color: white;
// 	text-indent: 5px;
// }
table,th, td{
	border-bottom: 1px solid #ddd;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin: auto;
	font-size: 16px;
}
th,td{
	padding: 15px;
}
th{
	background-color: rgb(255,152,0);
}
tr:hover {
	background-color: #f5f5f5;
}
.contenedor-radio{
	position: relative;
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
}
.genre-radio{
	position: relative;
	width: 49%;
	height: 27px;
	margin-top: 40px;
	font-size: 14px bold;
}
.birthday-select{
	width: 31%;
	padding: 5px;
	background-color: white;
}
.date-select{
	width: 17%;
	padding: 5px;
	background-color: white;
}
.contenedor-select{
	width: 100%;
	display: inline-block;
}
.link{
	font-size: 16px;
	font-weight: 900 !important;
	//border-bottom: 1px solid rgb(255,152,0);
	
}
.current_user{
	font-size: 16px;
	text-align: center;
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	padding: 5px 0px;
}