<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HospitalApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/web-fonts-with-css/css/fontawesome-all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  		<%= render "partials/nav" %>
  		
  		<main role="main">
    		<div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <div id="remote_container"></div>
        </div>
  		</main>
	 </div>
    
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
  </body>
</html>
